/* ---- reset ---- */

body {
	margin: 0;
	font: normal 55% 'Calibre', cursive;
    overflow:hidden;
    color: white;
}

canvas {
	display: block;
	vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#020457 , #c67af1 , #270369 , #140111 , #460564 );
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    /*position: absolute;*/
    cursor: pointer;
    /*top: calc(50% - 150px);*/
    /*left: calc(50% - 150px);*/

}

img:hover {
    transform: scale(1.1);
}

.profile-pic{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: .5s all;
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
    object-fit: cover;
}

@-webkit-keyframes glow {
  from {
      box-shadow:
        inset 0 0 50px rgb(140, 209, 194),
        inset 20px 0 80px rgb(1, 221, 166),
        inset -20px 0 80px rgb(255, 0, 242),
        inset 20px 0 300px rgb(166, 255, 0),
        inset -20px 0 300px rgb(17, 202, 178),
        0 0 50px rgb(131, 184, 8),
        -10px 0 80px rgb(0, 217, 255),
        10px 0 80px rgb(0, 255, 179);
  }

  to {
     box-shadow:
        inset 0 0 50px #ffffff,
        inset -20px 0 80px #ff00dd,
        inset 20px 0 80px #f000a0,
        inset -20px 0 300px #09fffd,
        inset 20px 0 300px #0b9fb3,
        0 0 50px #ffffff,
        -10px 0 80px #00f0a8,
        10px 0 80px #0ff;
  }
}

h1{
    top: calc(67% - 150px);
    left: calc(48% - 150px);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    /*color: white;*/
    
}

.sections {
    /*position: absolute;*/
    float: left;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    position: absolute;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4 , 1fr);
    grid-gap: 5px;
    grid-template-areas: ". picture picture ."
                        ". name name ."
                        "work social communities talks";
}

.item {
    padding: 5px;
    font-size: 2em;
    text-align: center;
}

.subsection {
    text-decoration: none;
}
.picture{
    grid-area: picture;
    grid-row-start: 1;
    gird-row-end: 1;
}

.name{
    grid-area: name;
    font-size: 3em;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: bold;
    text-align: center;
    /*position: absolute;*/
}

.work{
    grid-area: work;
}

.talks {
    grid-area: talks;
}

.social{
    grid-area: social;
}

.communities{
    grid-area: communities;
}

.ico{
    width: 25px;
    height: 25px;
}

p{
    margin: 0;
    padding: 0;
}

@supports (display: grid) {
  .container > * {
    margin: 0;
  }
}

/*desktop first*/

@media screen and (max-width:320px) {

    .name{
        grid-area: name;
        font-size: 1em;
    }

    .profile-pic{
        width: 100px;
        height: 100px;
        
    }
}

@media screen and (max-width:768px) {
    .container{
        display: grid;
        grid-template: repeat(1, 1fr)/ repeat(1, 1fr);
        grid-gap: 0px;
        grid-template-areas: "picture"
                            "name"
                            "work"
                            "social"
                            "communities"
                            "talks";
        align-items: center;
    }

    .name{
        grid-area: name;
        font-size: 1.8em;
        font-weight: bold;
        text-align: center;
    }

    .profile-pic{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        transition: .5s all;
        -webkit-animation: glow 5s ease-in-out infinite alternate;
        -moz-animation: glow 5s ease-in-out infinite alternate;
        animation: glow 5s ease-in-out infinite alternate;
    }
}